<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">

<div id="first-slider">
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
                <div class="row"><div class="container">
                    <div class="col-md-3 text-right">
                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
                    </div>
                    <div class="col-md-9 text-left">
                        <h3 data-animation="animated bounceInDown">高薪人才网欢迎您</h3>
                        <h4 data-animation="animated bounceInUp">祝您找到满意高薪好工作</h4>
                     </div>
                </div></div>
             </div>
            <!-- Item 2 -->
            <div class="item slide2">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-center">
                        <h3 data-animation="animated bounceInDown"> 这里汇集了全球高薪工作机会</h3>
                        <h4 data-animation="animated bounceInUp">中国；美国；欧洲；澳洲；日本；台湾；香港 </h4>
                     </div>
                    <div class="col-md-5 text-right">

                    </div>
                </div></div>
            </div>
            <!-- Item 3 -->
            <div class="item slide3">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-center">
                        <h3 data-animation="animated bounceInDown">我们共同开创属于我们的事业</h3>
                        <h4 data-animation="animated bounceInUp"></h4>
                     </div>
                    <div class="col-md-5 text-right">
                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/eq8xvxeq5/globe_network.png">
                    </div>
                </div></div>
            </div>
            <!-- Item 4 -->
            <div class="item slide4">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-center">
                        <h3 data-animation="animated bounceInDown">马上投简历 </h3>
                        <h4 data-animation="animated bounceInUp">机会就在手下</h4>
                        <h5><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></h5>
                     </div>
                    <div class="col-md-5 text-right">
                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">
                    </div>
                </div></div>
            </div>
            <!-- End Item 4 -->

        </div>
        <!-- End Wrapper for slides-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
</div>


<footer>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">

            <h6><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></h6>
        </div>
    </div>
</footer>

<div class="container">
        <div class="row">
             <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4 class="panel-header">Mike</h4>
                        <small>XX公司人力资源总监</small>
                    </div>
                    <div class="panel-thumbnails">
                      <div class="row">
                        <p>高薪人才网做的非常棒，我就是在这里找到我的第一份工作的。</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/41/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg?q=75&fm=jpg&s=a760fd82863937c841f4b3870cdef011" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/josue/73.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4 class="panel-header">Lucy</h4>
                        <small>XX公司工程师</small>
                    </div>
                    <div class="panel-thumbnails">
                        <div class="row">
                            <p>我在高薪人才网找到我现在就职的公司，发展前景和待遇我都很满意。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://ununsplash.imgix.net/19/waves.JPG?q=75&fm=jpg&s=6f316bc8e1dc9887a7cebe0841096e99" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mutlu82/73.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4 class="panel-header">tom</h4>
                        <small>XX公司业务代表</small>
                    </div>
                    <div class="panel-thumbnails">
                        <div class="row">
                          <p>这里有热心的师兄师姐提建议，让我找到了最适合自己的职业发展道路。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://ununsplash.imgix.net/26/camera-keys.jpg?q=75&fm=jpg&s=b919d3158053cde8e9f0e37b4876c14f" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/nisaanjani/73.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4 class="panel-header">bob</h4>
                        <small>XX公司总监</small>
                    </div>
                    <div class="panel-thumbnails">
                        <div class="row">
                            <p>高薪人才网的社区很活跃，我们很多同届的毕业生都喜欢在这里互相交流。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/blue-chrome-rain-icons-business/078305-blue-chrome-rain-icon-business-home8.png" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>上海陆家嘴城市中心</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://www.free-icons-download.net/images/email-icon-62085.png" alt="bid" class = "img-thhumbnail">
            <div class="caption">
               </p>
                </p>
              <h3>bao309@163.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://findicons.com/files/icons/993/openphone/256/phone.png" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>021-5888888</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
